aiobotocore[boto3]==2.24.1
boto3==1.40.15
mcp==1.12.3
uvicorn==0.35.0

# For testing, this module is installed from local files.
# Uncomment this line to build using the module from PyPi
# run-mcp-servers-with-aws-lambda >= 0.0.1
