strands-agents==1.30.0
mcp==1.26.0
uvicorn==0.41.0
boto3==1.42.59

# For testing, this module is installed from local files.
# Uncomment this line to build using the module from PyPi
# run-mcp-servers-with-aws-lambda >= 0.0.1
